#five-day-forecast {
    margin-top: 20px;
}

#five-day-forecast ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.forecast-item {
    background-color: #040942;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    color: white;
}
